<%- include('header') -%>
<h1>
    Ajouter une fiche
</h1>
<form action="/create" method="post">
    <div>
        <%- include('editor') -%>

        <div>
            <input type="submit" value="Ajouter">
            <a href="/student">Annuler</a>
        </div>
    </div>
</form>

<%- include('footer') -%>