<%- include("header") -%>

<h1>Effacer une fiche ?</h1>

<form action="/delete/<%= model.id_student %>" method="post">
  <div>

    <%- include("display") -%>

    <div>
      <div>
        <input type="submit" value="Effacer" />
        <a href="/student">Annuler</a>
      </div>
  </div>
</form>

<%- include("footer") -%>