<div>
    <div>
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" value="<%= model.lastname %>" />
    </div>
    <div>
        <label for="firstname">firstname</label>
        <input name="firstname" type="text" value="<%= model.firstname %>" />
    </div>
  </div>
  
  <div>
    <label for="numberId">Number ID</label>
    <div>
      <input type="number" name="numberId" value="<%= model.numberId %>">
    </div>
  </div>