<%- include("header") -%>
<main>
  <div class="container-edit">
      <h2>Modifier une fiche</h2>   
      <%= JSON.stringify(model) %>        
      <form action="/edit/<%= model.id_student %>" method="post">

        <%- include("editor") -%>

          <div id="form-submit">
              <div>
                  <button>
                      <input type="submit" value="Modifier"/>
                  </button>
                  <button>
                      <input type="reset" value="Effacer">                           
                  </button>                    
              </div>
          </div>
      </form>
  </div>

</main>
<%- include("footer") -%>
