  <div id="form-edit">
    <div>
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" value="<%= model.lastname %>" />
    </div>
    <div>
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" value="<%= model.firstname %>" />
    </div>
    <div>
        <label for="numberId">Number ID</label>
        <input name="numberId" type="number" value="<%= model.numberId %>" />
    </div>
    <div>
      <label for="birthdate">Birthdate</label>
      <input name="birthdate" type="date" value="<%= model.birthdate %>" />
  </div>
</div> 