<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>interface crud</title>
</head>
<body>
    <header>
        <div class="presentation">
            <h1>
                Gestion des élèves
            </h1>
            <p>
                Bla bla bla bla bla bla bla ...
            </p>
        </div>
        <nav>
            <a href="/">Accueil</a>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/data">Données</a>
                </li>
                <li>
                    <a href="/student">Student</a>
                </li>
            </ul>
        </nav>
    </header>
    
