<%- include('header') -%>

<main>
    <div class="container">
        <div class="widget">
            <a href="/student" title="clique ici pour accéder à la liste des étudiants">
                <img src="/images/well-done-3182_512.gif" alt="moon-594_512">
            </a>
            
        </div>
    </div>
</main>


<%- include('footer') -%>