<%- include('header') -%>
    <div class="container-student">
        
        <h2>
            Listes des étudiants
        </h2>
        
        <div class="table">
            <table class="listStudent">
                <thead>
                    <tr>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Number ID</th>
                        <th>Birthdate</th>
                        <th>
                            <button>
                                <a href="/create" id="id-button">Ajouter</a>
                            </button>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>                   
                    <% for(student of model) {%>
                        <tr>
                            <td>
                                <%= student.lastname%>
                            </td>
                            <td>
                                <%= student.firstname%>
                            </td>
                            <td>
                                <%= student.numberId%>
                            </td>
                            <td>
                                <%= student.birthdate%>
                            </td>
                            <td>
                                <a href="/edit/<%= student.id_student%>" id="id-button">Modifier</a>
                                <a href="/delete/<%= student.id_student%>" id="id-button">Effacer</a>
                            </td>
                        </tr>
                        <% } %>                   
                </tbody>
            </table>
        </div>
    </div>
<%- include('footer') -%>