* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0, 0.1);
}
a {
    color: black;
    text-decoration: none;
    padding: 10px;
}
li {
    list-style: none;
}




/* partie header */
header {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}

/* div presentation */
header div.presentation {
    margin-bottom: 10px;
}

header h1 {
    font-size: 50px;
}
header p {
    font-style: italic;
    font-size: 15px;
}


/* partie header menu */

header nav  {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
header nav ul li a{
    display: block;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a:hover {
    background-color:whitesmoke;
}



/* partie index */
/* main div.container div.widget */
main div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

main div.container div.widget {
    border: 3px solid black;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 15px 15px 15px black;
    border-radius: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* listes étudiants */

.container-student {
    margin-top: 20px;
}
.container-student h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 35px;
}
.container-student .table {    
    display: flex;
    justify-content: center;
    align-items: center;
}
.listStudent {
    width: 50%;
    border-collapse: collapse;
 }
 
 .listStudent th, .listStudent td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
 }
 
 .listStudent th {
    font-weight: bold;
    background-color: gray;
 }
 .listStudent td {
    background-color: white;
 }
 .listStudent #id-button {
    border-radius: 4px;
    padding: 5px 2px;
    background-color: burlywood;
    border: none;
    font-size: 12px;
 }


 /* partie edit */

 .container-edit {
    border: 1px solid black;
    padding: 10px;
 }

 .container-edit h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
 }
 .container-edit #form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
 }
 #form-edit label {
    font-size: 20px;
    font-weight: bolder;
 }
 #form-edit label, #form-edit input {
    display: block;
    text-align: center;
    padding: 10px;
 }
 #form-submit {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
 }
 #form-submit button {
    border: none;
    border-radius: 10px;
 }
 #form-submit button input {    
    background-color: green;
    padding: 8px 11px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
 }

